<div class="footer">
        <div class="social-links">
            <a href="#"><img src="/img/github.png" alt="for github"></a>
            <a href="#"><img src="/img/instagram.png" alt="for instagram"></a>
            <a href="#"><img src="/img/facebook.png" alt="for facebook"></a>
        </div>
        <div class="brand">&copy; Wonderlust private limited</div>
        <div class="pages">
            <a href="#">Privacy Policy</a>
            <a href="#">Term & conditions</a>
        </div>
</div>